{% extends "layout-CPP.html" %}

{% block page_title %}
  Make a plea
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
            Make a plea for companies
            <span class="heading-secondary">Also know as 'online plea' this design demo is for user testing specifically with companies and uses GOV.UK prototype kit {{releaseVersion}}</span>
            </h1>{{releaseVersion | log }}

            <p>To get the most out of this demo use the following:</p>
            <p>Case or unique reference number</p>
            <ul class="list list-bullet">
                <li><span class="bold">TFL</span>, <span class="bold">TfL</span> or <span class="bold">tfl</span> - currently has realistic data</li>
                <li><span class="bold">TVL</span> or <span class="bold">tvl</span> - currentlty has realistic data</li>
            </ul>


            <p>
            <a href="map/start-page.html">Let's get started!</a>
            </p>

        </div>
    </div>
</main>

{% endblock %}