{% extends "layout-CPP.html" %}

{% block page_title %}
  Make a plea
{% endblock %}

{% block content %}

<script>
    window.onload = function() {
    
        var prosecutionWitnessGroup = document.getElementById("prosecutionWitness").innerText;
        if (prosecutionWitnessGroup == "") {
            document.getElementById("prosecutionWitnessGroup").style.display = "none"; 
        }
        
        var prosecutionWitnessDetailsGroup = document.getElementById("prosecutionWitnessDetails").innerText;
        if (prosecutionWitnessDetailsGroup == "") {
            document.getElementById("prosecutionWitnessDetailsGroup").style.display = "none"; 
        }
        
        var yourWitnessGroup = document.getElementById("yourWitness").innerText;
        if (yourWitnessGroup == "") {
            document.getElementById("yourWitnessGroup").style.display = "none"; 
        }
        
        var yourWitnessDetailsGroup = document.getElementById("yourWitnessDetails").innerText;
        if (yourWitnessDetailsGroup == "") {
            document.getElementById("yourWitnessDetailsGroup").style.display = "none"; 
        }

        var datesToAvoidGroup = document.getElementById("datesToAvoid").innerText;
        if (datesToAvoidGroup == "") {
            document.getElementById("datesToAvoidGroup").style.display = "none"; 
        }
        
        var datesToAvoidDetailsGroup = document.getElementById("datesToAvoidDetails").innerText;
        if (datesToAvoidDetailsGroup == "") {
            document.getElementById("datesToAvoidDetailsGroup").style.display = "none"; 
        }
        
        var mitigation = document.getElementById("mitigation").innerText;
        if (mitigation == "") {
            document.getElementById("mitigation").innerText = "No mitigation given";
        }
       
        var homeTelephone = document.getElementById("homeTelephone").innerText;
        if (homeTelephone == "") {
            document.getElementById("homeTelephone").innerText = "No telephone given";
        }
        
        var mobileNumber = document.getElementById("mobileNumber").innerText;
        if (mobileNumber == "") {
            document.getElementById("mobileNumber").innerText = "No mobile number given";
        }
        
        var comeToCourt = document.getElementById("comeToCourt").innerText;
        if (comeToCourt == "No") {
            document.getElementById("interpreterRequiredGroup").style.display = "none";
            document.getElementById("interpreterLanguageGroup").style.display = "none";
        }
                
        var defendantAddressLine2 = document.getElementById("companyAddressLine2").innerHTML;
        if (defendantAddressLine2 == "<br>") {
            document.getElementById("companyAddressLine2").style.display = "none"; 
        }
        
        var defendantAddressCounty = document.getElementById("companyAddressCounty").innerHTML;
        if (defendantAddressCounty == "<br>") {
            document.getElementById("companyAddressCounty").style.display = "none"; 
        }

        var interpreterRequired = document.getElementById("interpreterRequired").innerText;
        if (interpreterRequired == "No") {
            document.getElementById("interpreterLanguageGroup").style.display = "none"; 
        }
        
        var interpreterLanguage = document.getElementById("interpreterLanguage").innerText;
        if (interpreterLanguage == "") {
            document.getElementById("interpreterLanguage").innerText = "No language specified"; 
        }
        
        var otherIncomeDetails = document.getElementById("otherIncomeDetails").innerText;
        if (otherIncomeDetails == "") {
            document.getElementById("otherIncomeDetails").innerText = "No other income details given"; 
        }
        
    }
</script>

<main id="content" role="main">
    
    {% include "includes/breadcrumb.html" %}

    <div class="grid-row">
        <div class="column-full">
            <h1 class="heading-xlarge">Check your answers</h1>
            
            <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
            <!--   * `cya-questions-short` for short questions -->
            <!--   * `cya-questions-long` for long questions -->
            <!--   * none for single group of q&a -->
            <dl class="govuk-check-your-answers cya-questions-short">
                <div>
                    <dt class="cya-question" style="border: none;">
                        <h2 class="heading-medium">Company details</h2>
                    </dt>
                    <dd class="cya-answer" style="border: none;">
                        &nbsp;
                    </dd>
                    <dd class="cya-change" style="border: none;">
                        <a href="/map/company-details">Change<span class="visually-hidden"> company details</span></a>
                    </dd>
                </div>
                
                <div>
                    <dt class="cya-question">
                        Company
                    </dt>
                    <dd class="cya-answer">
                        {{ data['company-name'] }}
                    </dd>
                    <dd class="cya-change"></dd>
                </div>

                <div>
                    <dt class="cya-question">
                        Company address
                    </dt>
                    <dd class="cya-answer">
                        {{ data['company-address-line-1'] }}<br>
                        <span id="companyAddressLine2">{{ data['company-address-line-2'] }}<br></span>
                        {{ data['company-address-city'] }}<br>
                        <span id="companyAddressCounty">{{ data['company-address-county'] }}<br></span>
                        {{ data['company-address-postcode'] }}
                    </dd>
                    <dd class="cya-change"></dd>
                </div>

                <div>
                    <dt class="cya-question">
                    Name of the person representing the company
                    </dt>
                    <dd class="cya-answer">
                        {{ data['company-representative-name'] }}
                    </dd>
                    <dd class="cya-change"></dd>
                </div>

                <div>
                    <dt class="cya-question">
                    Your position within the company
                    </dt>
                    <dd class="cya-answer">
                        {{ data['company-representative-position'] }}
                    </dd>
                    <dd class="cya-change"></dd>
                </div>

                <div>
                    <dt class="cya-question">
                    Email address
                    </dt>
                    <dd class="cya-answer">
                        {{ data['company-email'] }}
                    </dd>
                    <dd class="cya-change"></dd>
                </div>

                <div>
                    <dt class="cya-question">
                        Telephone
                    </dt>
                    <dd class="cya-answer" id="homeTelephone">
                        {{ data['company-telephone'] }}
                    </dd>
                    <dd class="cya-change"></dd>
                </div>

                <div>
                    <dt class="cya-question">
                        Mobile number
                    </dt>
                    <dd class="cya-answer" id="mobileNumber">
                        {{ data['company-mobile-number'] }}
                        {{ data['company-mobile-number'] }}
                    </dd>
                    <dd class="cya-change"></dd>
                </div>

            </dl>

 
            
            
            
            
            <dl class="govuk-check-your-answers cya-questions-short">
                <div>
                    <dt class="cya-question" style="border: none;">
                        <h2 class="heading-medium">Your plea</h2>
                    </dt>
                    <dd class="cya-answer" style="border: none;">
                        &nbsp;
                    </dd>
                    <dd class="cya-change" style="border: none;">
                        <a href="/map/your-plea">Change<span class="visually-hidden"> your plea</span></a>
                    </dd>
                </div>
            </dl>
                
            <dl class="govuk-check-your-answers cya-questions-short">
                <div>
                    <dt class="cya-question">
                        Plea
                    </dt>
                    <dd class="cya-answer" id="HowDoYouPlead">
                        {{ data['how-do-you-plead-group'] }}
                    </dd>
                </div>

                <div>
                    <dt class="cya-question">
                        Coming to court
                    </dt>
                    <dd class="cya-answer" id="comeToCourt">
                        {{ data['do-you-want-to-come-to-court-group'] }}
                    </dd>
                </div>

                <div>
                    <dt class="cya-question">
                        information for magistrates
                    </dt>
                    <dd class="cya-answer" id="mitigation">
                        {{ data['mitigation'] }}{{ data['not-guilty-mitigation'] }}
                    </dd>
                </div>

                <div id="interpreterRequiredGroup">
                    <dt class="cya-question">
                        Do you need an interpreter in court?
                    </dt>
                    <dd class="cya-answer" id="interpreterRequired">
                        {{ data['interpreter-group'] }}
                    </dd>
                </div>

                <div id="interpreterLanguageGroup">
                    <dt class="cya-question">
                        Language
                    </dt>
                    <dd class="cya-answer" id="interpreterLanguage">
                        {{ data['interpeter-language'] }}
                    </dd>
                </div>

                <div id="prosecutionWitnessGroup">
                    <dt class="cya-question">
                        Do you want a witness on this statement to attend?
                    </dt>
                    <dd class="cya-answer" id="prosecutionWitness">
                        {{ data['witness-1-group'] }}
                    </dd>
                </div>
                
                
                
                
                
                
                
                <div id="prosecutionWitnessDetailsGroup">
                    <dt class="cya-question">
                        Their name and why you want them to attend
                    </dt>
                    <dd class="cya-answer" id="prosecutionWitnessDetails">
                        {{ data['witness-1-details'] }}
                    </dd>
                </div>

                <div id="yourWitnessGroup">
                    <dt class="cya-question">
                        Do you want to bring your own witness?
                    </dt>
                    <dd class="cya-answer" id="yourWitness">
                        {{ data['witness-2-group'] }}
                    </dd>
                </div>
                
                <div id="yourWitnessDetailsGroup">
                    <dt class="cya-question">
                        The name and address of your witness and their age and date of birth if known
                    </dt>
                    <dd class="cya-answer" id="yourWitnessDetails">
                        {{ data['witness-2-details'] }}
                    </dd>
                </div>

                <div id="datesToAvoidGroup">
                    <dt class="cya-question">
                        Are there any dates you or your witness can not attend court?
                    </dt>
                    <dd class="cya-answer" id="datesToAvoid">
                        {{ data['dates-to-avoid-group'] }}
                    </dd>
                </div>

                <div id="datesToAvoidDetailsGroup">
                    <dt class="cya-question">
                        Dates you or your witness can not attend court
                    </dt>
                    <dd class="cya-answer" id="datesToAvoidDetails">
                        {{ data['dates-to-avoid-details'] }}
                    </dd>
                </div>
            </dl>

 
            
            
            
            
            
            
            
            
            
            <dl class="govuk-check-your-answers cya-questions-short">
                <div>
                    <dt class="cya-question" style="border: none;">
                        <h2 class="heading-medium">Company finances</h2>
                    </dt>
                    <dd class="cya-answer" style="border: none;">
                        &nbsp;
                    </dd>
                    <dd class="cya-change" style="border: none;">
                        <a href="/map/company-finances">Change<span class="visually-hidden"> company finances</span></a>
                    </dd>
                </div>
            </dl>
                
            <dl class="govuk-check-your-answers cya-questions-short">
                <div>
                    <dt class="cya-question">
                        Annual turnover
                    </dt>
                    <dd class="cya-answer">
                        £{{ data['annual-turnover'] }}
                    </dd>
                </div>

                <div>
                    <dt class="cya-question">
                        Any other relevant financial information
                    </dt>
                    <dd class="cya-answer" id="otherIncomeDetails">
                        {{ data['other-income-details'] }}
                    </dd>
                </div>

            </dl>
 
            
 
            
            
            
            <form class="form" action="" method="post">
                <div class="form-group">
                    <p class="top_30"><input class="button" type="submit" value="Confirm and continue"></p>
                    <p>{% include "includes/back_link.html" %}</p>
                </div>
            </form>

        </div>
        
        
    </div>
</main>

{% endblock %}