{% extends "layout-CPP.html" %}

{% block page_title %}
  Make a plea
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/breadcrumb.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">Company finances</h1>
            
            <p class="lede">You must provide details of the finances of the company you represent.</p>
            
            <p class="bottom_10">If you need to pay a penalty, then the court will decide the amount based on:</p>
            <ul class="list list-bullet">
                <li>the company finances</li>
                <li>the seriousness of the offence</li>
            </ul>

            <div class="notice top_60">
                <i class="icon icon-important">
                    <span class="visually-hidden">Warning</span>
                </i>
                <strong class="bold-small">
                    It's an offence to give false or misleading information
                </strong>
            </div>
            
            <p class="top_60">The company financial details will be kept securely and only used by court staff.</p>

            <form class="form" action="" method="post">

                <div class="form-group">
                    <p class="top_30"><input class="button" type="submit" value="Continue"></p>
                    <p>{% include "includes/back_link.html" %}</p>
                </div>
                
            </form>

        </div>
        
        <div class="column-third">
            {% include "includes/map/help-and-advice-header.html" %}
            {% include "includes/map/help-and-advice-3.html" %}
        </div>
        
    </div>
</main>

{% endblock %}