{% extends "layout-CPP.html" %}

{% block page_title %}
  Make a plea
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="govuk-box-highlight">
                <h1 class="heading-large top_0">
                    Your plea has been submitted
                </h1>
                <p class="bold">
                    Your case reference is <br>
                    <span class="heading-medium">TFL9234761</span>
                </p>
                <p class="bold bottom_0">
                    If you need to contact us, you will need to quote this case reference
                </p>
            </div>

            <h2 class="heading-medium">What happens next?</h2>
            <p>We will email you confirmation that your plea has been submitted.</p>
            <p class="bottom_10">Depending on how you pleaded, we will:</p>
            <ul class="list list-bullet">
                <li>send you a letter with the magistrate's decision usually within 28 days</li>
                <li>tell you how much and when to pay if you need to pay a financial penalty</li>
                <li>tell you if or when you need to attend court</li>
            </ul>
            
            <h2 class="heading-medium">For help with this online service or the court process</h2>
            <p>Telephone the Contact Centre quoting your case reference.</p>
            
            <p class="bold bottom_5">By telephone</p>
            <p class="bottom_5">0300 303 0656</p>
            <p class="bottom_5">Monday to Friday, 9am to 5pm</p>
            <p><a href="#">Find out about call charges</a></p>
            
            <form class="form" action="" method="post">
                
                <div class="form-group">
                    <p class="top_30"><input class="button" type="submit" value="Finish"></p>
                </div>
                
            </form>

        </div>
                
    </div>
</main>

{% endblock %}