{% extends "layout-CPP.html" %}

{% block page_title %}
  Make a plea
{% endblock %}

{% block content %}

<style>
/* NOTIFICATION BANNERS PATTERN */
.notification-banner-turqoise {
    background-color: #28A197;
}
.notification-banner-nest {
    /*display: table;*/
    /*display: table;*/
}
.notification-banner {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    min-height: 40px;
    /*display: table-cell;*/
    vertical-align: middle;
    padding: 20px;
    
    padding-top: 30px;
}
.notification-banner div {
}
.notification-banner-icon {
    /*height: 30px;
    float: left;
    width: 20px;*/
    display: none;
}
.notification-banner-text {
    vertical-align: middle;
    margin-left: 45px;
}
</style>

<main id="content" role="main">
    
    {% include "includes/breadcrumb.html" %}

    <div class="grid-row">
        <div class="column-full">
            
            <form class="form" action="" method="post">
                
                <div style="text-align: center">
                    
                    <!-- NOTIFICATION BANNER PATTERN - TURQOISE + TICK ICON -->
                    <div class="notification-banner-nest notification-banner-turqoise bottom_15">
                        <div class="notification-banner">
                            <div class="notification-banner-icon">
                                <object data="/public/images/icons/tick-icon-white.svg" type="image/svg+xml"></object>
                            </div>
                            <div class="notification-banner-text">Your feedback has been submitted</div>
                        </div>
                    </div>
                    
                </div>

                <div class="form-group">
                    <p class="top_30"><input class="button" type="submit" value="Close"></p>
                </div>
                
            </form>

        </div>
                
    </div>
</main>

{% endblock %}