{% extends "layout-CPP.html" %}

{% block page_title %}
  Make a plea
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/breadcrumb.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            
            <form class="form" action="" method="post">
                
                <h1 class="heading-xlarge">Your details</h1>
            
                <h2 class="heading-medium">Check your name and address</h2>

                <div class="panel panel-border-wide">
                    <p class="bold bottom_0">{{ data['defendant-first-name'] }} {{ data['defendant-last-name'] }}<!--Sam Smith--></p>
                    <p class="top_0 bottom_0">{{ data['defendant-address-line-1'] }}<!--38A Baker Street--></p>
                    <p class="top_0 bottom_0">{{ data['defendant-address-line-2'] }}<!--address line 2--></p>
                    <p class="top_0 bottom_0">{{ data['defendant-address-city'] }}<!--London--></p>
                    <p class="top_0 bottom_0">{{ data['defendant-address-county'] }}<!--county--></p>
                    <p class="top_0">{{ data['defendant-address-postcode'] }}<!--W1 7SX--></p>
                </div>

                <!-- Are these details corret? -->
                <div class="form-group">
                    <fieldset class="inline" data-required data-error="You must tell us if the name and address on the notice we sent to you is correct">
                        <legend class="heading-small">Are these details correct?</legend>
                        <div class="multiple-choice">
                            <input id="name-address-1" type="radio" name="name-address-group" value="Yes" {{ checked('name-address-group','Yes') }}>
                            <label for="name-address-1">Yes</label>
                        </div>
                        <div class="multiple-choice" data-target="details-not-correct">
                            <input id="name-address-2" type="radio" name="name-address-group" value="No" {{ checked('name-address-group','No') }}>
                            <label for="name-address-2">No</label>
                        </div>
                    </fieldset>
                </div>
                
                <!-- Changes to name and address -->
                <div class="form-group">
                    <fieldset>
                        <div class="js-hidden" id="details-not-correct">
                            <div class="panel panel-border-wide top_15">
                                <p class="bold">Changes to name</p>

                                <label class="form-label" for="new-defendant-first-name">First name</label>
                                <input class="form-control" id="new-defendant-first-name" type="text" name="new-defendant-first-name" value="{{ data['new-defendant-first-name'] }}">

                                <label class="form-label top_15" for="new-defendant-last-name">Last name</label>
                                <input class="form-control" id="new-defendant-last-name" type="text" name="new-defendant-last-name" value="{{ data['new-defendant-last-name'] }}">
                            </div>

                            <div class="panel panel-border-wide top_15">
                                <p class="bold">Changes to address</p>

                                <label class="form-label" for="new-defendant-address-line">Address</label>
                                <input class="form-control bottom_5" id="new-defendant-address-line-1" type="text" name="new-defendant-address-line-1" value="{{ data['new-defendant-address-line-1'] }}">
                                <input class="form-control" id="new-defendant-address-line-2" type="text" name="new-defendant-address-line-2" value="{{ data['new-defendant-address-line-2'] }}">

                                <label class="form-label top_30" for="new-defendant-address-city">Town or city</label>
                                <input class="form-control" id="new-defendant-address-city" type="text" name="new-defendant-address-city" value="{{ data['new-defendant-address-city'] }}">

                                <label class="form-label top_15" for="new-defendant-address-county">County (optional)</label>
                                <input class="form-control" id="new-defendant-address-county" type="text" name="new-defendant-address-county" value="{{ data['new-defendant-address-county'] }}">

                                <label class="form-label top_15" for="new-defendant-address-postcode">Postcode</label>
                                <input class="form-control" id="new-defendant-address-postcode" type="text" name="new-defendant-address-postcode" value="{{ data['new-defendant-address-postcode'] }}">

                            </div>
                        </div>
                    </fieldset>
                </div>

                <!-- Contact numbers -->
                <div class="form-group">
                    <fieldset>
                        <h2 class="heading-medium">Enter other details</h2>

                        <p class="bold bottom_5">Contact numbers</p>
                        <p class="form-hint bottom_10">The court may need to contact you so they can resolve your case quickly - enter at least one number</p>

                        <label class="form-label top_10" for="home-telephone">Home telephone (optional)</label>
                        <input class="form-control" id="home-telephone" type="tel" name="home-telephone" value="{{ data['home-telephone'] }}">

                        <label class="form-label top_15" for="mobile-number">Mobile number (optional)</label>
                        <input class="form-control" id="mobile-number" type="tel" name="mobile-number" value="{{ data['mobile-number'] }}">
                    </fieldset>
                </div>
                    
                <!-- Email address -->
                <div class="form-group top_30">
                    <fieldset data-required data-error="You must provide an email address">
                        <legend>
                            <label class="form-label bold bottom_5" for="email-address">Email address</label>
                            <p class="form-hint bottom_0">We will automatically email you confirmation when the plea is submitted</p>
                        </legend>
                        <input class="form-control" id="email-address" type="email" name="email-address" value="{{ data['email-address'] }}">
                    </fieldset>
                </div>

                <!-- Date of birth -->
                <div class="form-group">
                    <fieldset data-required data-error="Date must be in the past - enter valid date">
                        <legend class="form-label-bold">Date of birth</legend>
                        <p class="form-hint bottom_0" id="dob-hint">For example, 31 3 1980</p>
                        <div class="form-date">
                            <div class="form-group-2">
                                <label for="dob-day">Day</label>
                                <input class="form-control" id="dob-day" name="dob-day" type="text" pattern="[0-9]*" min="0" max="31" aria-describedby="dob-hint" style="width: 50px; margin-right: 15px" value="{{ data['dob-day'] }}">
                            </div>
                            <div class="form-group-2">
                                <label for="dob-month">Month</label>
                                <input class="form-control" id="dob-month" name="dob-month" type="text" pattern="[0-9]*" min="0" max="12" style="width: 50px; margin-right: 15px" value="{{ data['dob-month'] }}">
                            </div>
                            <div class="form-group-2">
                                <label for="dob-year">Year</label>
                                <input class="form-control" id="dob-year" name="dob-year" type="text" pattern="[0-9]*" min="0" max="2016" style="width: 100px" value="{{ data['dob-year'] }}">
                            </div>
                        </div>
                    </fieldset>
                </div>
                
                <div class="form-group top_30">
                    <fieldset>
                        <label class="form-label bold bottom_5" for="nin">National Insurance number (optional)</label>
                        <p class="form-hint bottom_5">It's on your National Insurance card, benefit letter, payslip or P60 - for example, 'AB 12 34 56 C'</p>
                        <input class="form-control" id="nin" type="text" name="nin" value="{{ data['nin'] }}">
                    </fieldset>
                </div>
                
                <div class="form-group">
                    <p class="top_30"><input class="button" type="submit" value="Continue"></p>
                    <p>{% include "includes/back_link.html" %}</p>
                </div>
                
            </form>

        </div>
        
        <div class="column-third">
            {% include "includes/map/help-and-advice-header.html" %}
            {% include "includes/map/help-and-advice-3.html" %}
        </div>
        
    </div>
</main>

{% endblock %}