{% extends "layout-CPP.html" %}

{% block page_title %}
  Make a plea
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/breadcrumb.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            
            <form class="form" action="" method="post">

                <h1 class="heading-xlarge">Your benefits</h1>

                <div class="form-group">
                    <fieldset class="inline" data-required data-error="Choose an answer">
                        <legend class="bold bottom_15">If you need to pay a penalty, would you like us to deduct it from your benefits?</legend>
                        <div class="multiple-choice">
                            <input id="deductions-from-benefits-1" type="radio" name="deductions-from-benefits-group" value="Yes" {{ checked('deductions-from-benefits-group','Yes') }}>
                            <label for="deductions-from-benefits-1">Yes</label>
                        </div>
                        <div class="multiple-choice"   data-target="XXX">
                            <input id="deductions-from-benefits-2" type="radio" name="deductions-from-benefits-group" value="No" {{ checked('deductions-from-benefits-group','No') }}>
                            <label for="deductions-from-benefits-2">No</label>
                        </div>
                    </fieldset>
                    <div class="js-hidden top_15" id="XXX">
                        <div class="panel panel-border-wide top_15">
                            <p class="bottom_5">Please note we can deduct without your agreement if:</p>
                            <ul class="list list-bullet">
                                <li>you've failed to pay a penalty in the past</li>
                                <li>the court orders you to pay compensation</li>
                            </ul>
                        </div>
                    </div>

                </div>
                
                <div class="form-group">
                    <p class="top_30"><input class="button" type="submit" value="Continue"></p>
                    <p>{% include "includes/back_link.html" %}</p>
                </div>
                
            </form>

        </div>
        
        <div class="column-third">
            {% include "includes/map/help-and-advice-header.html" %}
            {% include "includes/map/help-and-advice-3.html" %}
        </div>
        
    </div>
</main>

{% endblock %}