{% extends "layout-CPP.html" %}

{% block page_title %}
  Make a plea
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/breadcrumb.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">Your income</h1>
            
            <form class="form" action="" method="post">
                
                <div class="form-group">
                    <fieldset data-required data-error="You must tell us the frequency of your income">
                        <legend class="bold">What is the frequency of your income?</legend>
                        <label class="bold" style="display: none">What is the frequency of your income?</label>
                        <div class="multiple-choice">
                            <input id="income-freqency-1" type="radio" name="income-freqency-group" value="Weekly" {{ checked('income-freqency-group','Weekly') }}>
                            <label for="income-freqency-1">Weekly</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="income-freqency-2" type="radio" name="income-freqency-group" value="Fortnightly" {{ checked('income-freqency-group','Fortnightly') }}>
                            <label for="income-freqency-2">Fortnightly</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="income-freqency-3" type="radio" name="income-freqency-group" value="Monthly" {{ checked('income-freqency-group','Monthly') }}>
                            <label for="income-freqency-3">Monthly</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="income-freqency-4" type="radio" name="income-freqency-group" value="Yearly" {{ checked('income-freqency-group','Yearly') }}>
                            <label for="income-freqency-4">Yearly</label>
                        </div>
                    </fieldset>
                </div>
                    
                <div class="form-group">
                    <fieldset data-required data-error="You must provide your average income (after tax) - for example 1357.48">
                        <legend class="form-label bold top_30" for="average-income">Your average income (after tax)</legend>
                            <p class="form-hint bottom_0">Include earnings, pension, benefits and any other income</p>
                        <div class="input-icon">
                            <i>£</i>
                            <input class="form-control" id="average-income" type="number" min="0.01" step="0.01" name="average-income" value="{{ data['average-income'] }}">
                        </div>
                    </fieldset>
                </div>
                

                
                
                
                
                
                <div class="form-group bottom_0">
                    <fieldset data-required data-error="You must tell us your employment status">
                        <legend class="bold top_30">Your employment status</legend>
                        <div class="multiple-choice">
                            <input id="employment-status-1" type="radio" name="employment-status-group" value="Employed" {{ checked('employment-status-group','Employed') }}>
                            <label for="employment-status-1">Employed (full or part-time)</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="employment-status-2" type="radio" name="employment-status-group" value="Self-employed" {{ checked('employment-status-group','Self-employed') }}>
                            <label for="employment-status-2">Self-employed</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="employment-status-3" type="radio" name="employment-status-group" value="Unemployed" {{ checked('employment-status-group','Unemployed') }}>
                            <label for="employment-status-3">Unemployed</label>
                        </div>
                        <div class="multiple-choice"  data-target="other-income">
                            <input id="employment-status-4" type="radio" name="employment-status-group" value="Other" {{ checked('employment-status-group','Other') }}>
                            <label for="employment-status-4">Other (for example, retired, student)</label>
                        </div>
                    </fieldset>
                </div>
                
                <div class="form-group top_0">
                    <!--<fieldset data-required data-error="You must tell us what your other employment is">-->
                    <fieldset>
                        <div class="js-hidden" id="other-income">
                            <div class="panel panel-border-wide top_15">
                                <p class="bottom_5">Enter details (optional)</p>
                                <textarea class="form-control form-control-3-4" name="other-income-details" id="claiming-benefits-details" rows="1">{{ data['other-income-details'] }}</textarea>
                            </div>
                        </div>
                    </fieldset>
                </div>


                <div class="form-group bottom_0">
                    <fieldset class="inline" data-required data-error="You must tell us if you are claiming benefits">
                        <legend class="heading-small top_30">Are you claiming any benefits?</legend>
                            <p class="form-hint">If you only get Child Benefit, answer 'No'</p>
                        <div class="multiple-choice"  data-target="are-you-claiming-benefits">
                            <input id="claiming-benefits-1" type="radio" name="claiming-benefits-group" value="Yes" {{ checked('claiming-benefits-group','Yes') }}>
                            <label for="claiming-benefits-1">Yes</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="claiming-benefits-2" type="radio" name="claiming-benefits-group" value="No" {{ checked('claiming-benefits-group','No') }}>
                            <label for="claiming-benefits-2">No</label>
                        </div>
                    </fieldset>
                </div>
                
                <div class="form-group">
                    <!--<fieldset data-required data-error="Your must tell us which benefits you are claiming">-->
                    <fieldset>
                        <div class="js-hidden" id="are-you-claiming-benefits">
                            <div class="panel panel-border-wide top_15">
                                <p class="bottom_5">Which benefits are you claiming?</p>
                                <textarea class="form-control form-control-3-4" name="claiming-benefits-details" id="claiming-benefits-details" rows="5">{{ data['claiming-benefits-details'] }}</textarea>
                                <div class="font-xsmall form-control-3-4" id="character_count_5"></div>
                            </div>
                        </div>
                    </fieldset>
                </div>


                <div class="form-group">
                    <p class="top_30"><input class="button" type="submit" value="Continue"></p>
                    <p>{% include "includes/back_link.html" %}</p>
                </div>
                
            </form>

        </div>
        
        <div class="column-third">
            {% include "includes/map/help-and-advice-header.html" %}
            {% include "includes/map/help-and-advice-3.html" %}
        </div>
        
    </div>
</main>

{% endblock %}